
<div id ="Scene" class="col-sm-8 SceneContainer">
    <div class="row SceneToolbar col-sm-12">
        <div class="SceneIcon col-sm-push-10 col-sm-1">
            <i class="material-icons IconStyle" data-bind="click:FullRefresh">autorenew</i>
        </div>
        <div class="SceneIcon col-sm-push-10 col-sm-1">
            <i class="material-icons IconStyle" data-bind="click:FullCycle">restore</i>
        </div>
    </div>
    <div class="row col-sm-12 SceneHeader">
    </div>

    <div class="SunsetUnderlay col-sm-12"></div>
    <div class="MountainCon1">
        <canvas id="MountainsBG"></canvas>
    </div>
    <div class="MountainCon1">
        <canvas id="MountainsBG2"></canvas>
    </div>
    <div class="MountainCon1">
        <canvas id="Mountains1"></canvas>
    </div>
    <div class="MountainCon2">
        <canvas id="Mountains2"></canvas>
    </div>
    <div class="MountainCon3">
        <canvas id="Mountains3"></canvas>
    </div>
    <div class="MountainCon3">
        <canvas id="MountainBorder"></canvas>
    </div>
    <div class="SunCon">
        <canvas id="SunCanvas"></canvas>
    </div>
    <div class="TreeCon">
        <canvas id="TreeCanvas1"></canvas>
    </div>
    <div class="ReflectionCon">
        <canvas id="ReflectionCanvas"></canvas>
    </div>
    <div class="CurvePlotCon">
        <canvas id="Curveplot"></canvas>
    </div>
</div>